node_modules
.nyc_output
coverage
npm-debug.log
package-lock.json
build
wavedrom.js
wavedrom.min.js
wavedrom.unpkg.js
wavedrom.unpkg.min.js
*.d.ts
*.d.ts.map

# Temporarily adding files here as they are converted to TypeScript
/lib/render-signal.js
/lib/render-signal.js.map

